.dropDownContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin-top: 0.4rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 2px black;

}

.dropdown {
    transition: box-shadow 0.3s ease;
  position: relative;
  height: max-content;
  color: black;
cursor: pointer;
  background-color: #c3cad1;
  padding-inline: 0.5rem;
  padding-block: 0.3rem;

}


