.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.linkDropDownGroupArrow {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 5px;
  vertical-align: middle;
  border-top: 7.5px solid #ffffff; /* Change the color as desired */
  border-right: 7.5px solid transparent;
  border-bottom: 0;
  border-left: 7.5px solid transparent;
}

