.dropDownTreeSWrapper {
  padding: 0.5rem;
 color:#4e4a42;

}
.dropDownTreeSContainer {
  display: flex;
  gap: 1rem;
  
}
.dropdownTree{
    color:#4e4a42;
  cursor: pointer;
  box-shadow: 0 0 2px black;
  color: black;
  position: relative;
   background-color:#c3cad1;
}
