.customDepth0Position {
right:25%;
}

.defaultDepth0Position {
left:50%;

}
.customDepth1AndAbovePosition {
right:0;
transform:translate(-25%);

}
.defaultDepth1AndAbovePosition {
right:50%;
transform:translate(50%);
}

.rotateToBottom{
    transition: all 0.2s ease;
    transform-origin: center;
  position: absolute;
  bottom: 0;
}
.defaultPosition {
    margin-left:0.3rem;
}
.rotateToRight{
    transition: all 0.2s ease;
transform-origin: center;
  position: absolute;
  transform:  rotate(-90deg);
  bottom: 0;
}