
.rotateToBottom{
    transition: all 0.2s ease;
    transform-origin: center;
  bottom: 0;
}

.rotateToRight{
    transition: all 0.2s ease;
transform-origin: center;
  transform:  rotate(-90deg);
  bottom: 0;
}