.defaultDropDownItemWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.defaultDropDownItemContainer {
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
