.defaultDropDownItemWrapper {
  display: flex;
  justify-content: center;
}

.defaultDropDownItemContainer {
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.labelAndIcon {
    display:flex;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
}
.arrowWrapper {
    width: 100%;
    margin-block: 0.3rem;
    justify-self: center;
    display: flex;
    justify-content: center;
}
